body {
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	font-size: 11px;
}

#colorPickerDiv {
	z-index: 100002;
}

#leftMenu {
	position: fixed;
	top:      0px;
	left:     0px;
	width:    140px;
	padding:  5px;
	background-color: #B9EAFF;
	z-index: 100001;
}

.hidden {
	display: none
}

#grid div {
	background-color: #CCCCCC;
}

#leftMenu h2 {
	font-size: 16px;
	line-height: 16px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 2px;
	margin-top: 14px;
	cursor: pointer;
}



#leftMenu ul {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
}

#leftMenu li {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#leftMenu a {
	color: black;
}

#properties {
	position: fixed;
	display:  none;
	left:     150px;
	width:    100%;
	background-color: #dddddd;
	padding: 4px;
	z-index: 100000;
}

#properties th {
	text-align: right;
	font-size: 11px;
}

#properties td {
	text-align: left;
	font-size: 11px;
}

#properties h1 {
	font-size: 11px;
	line-height: 13px;
	padding: 0px;
	margin: 0px;
}

input .number {
	text-align: right;
}


#drawArea {
	position: absolute;
	left: 150px;
	top:  0px;
}


#drawArea .dragPoint {
	background-color: #00ff00;
	width:  6px;
	height: 6px;
	left:   0px;
	top:    0px;
	display: none
}

#drawArea .shape {
	position: absolute;
	
}

#drawArea .image {
	margin:  0px;
	padding: 0px;
}

#drawArea .rectangle {
	background-color: #ffffff;
	color: black;
	border: 1px solid #000000;
	/* padding: 10px; */
	width: 99px;
	height: 99px;
	left: 0px;
	top:  0px;
}

#drawArea .line {
	background-color: black;
	border: 0px;
	left: 0px;
	top:  0px;
}

#drawArea .horizontalLine {
	background-color: black;
	border: 0px;
	width: 100px;
	height: 1px;
	left: 0px;
	top:  0px;
}

#drawArea .verticalLine {
	background-color: black;
	border: 0px;
	width: 1px;
	height: 100px;
	left: 0px;
	top:  0px;
}


#drawArea .baseSize {
	width: 99px;
	height: 99px;
}

#drawArea .multiSelection {
	border: 1px dashed #00ff00;
}

#drawArea .group {
	border: 1px solid #00ff00;
	left: 0px;
	top:  0px;
}

#drawArea .groupBlurred {
	border: 0px solid #ff0000;
}


#drawArea .stdText {
	
}

#drawArea .focus {
	border: 1px solid #00FF00;
}

