.test {
	padding: 15px;
	margin: 10px;
	background-color: #9999FF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-family: Arial;
}

.test h2 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}

h1 {
	padding-left: 10px;
}

body {
	background-color: white;
	font-family: Verdana;
}